@import "./mixin";

.container {
  box-shadow: 0 10px 10px black;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 64px;
  @include for-size(tablet) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 51px;
    padding-right: 52px;
  }
  @include for-size(desktop) {
    width: 1280px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 83px;
  }
}
